.btn-circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 12px;
}

.container{
    width: 400px;
    height: 500px;
}

#container {
    height: 200px;
}

body {
    background-color: #A1CAE3;
}
